<!doctype html>

<html lang="en">

<head>
  <title>Phot贸dex</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="Phot贸dex: Gotta snap 'em all!'">
  <meta name="author" content="JT Atomico">
  <meta property="og:title" content="JTAtomico's Phot贸dex" />
  <meta name="og:description" content="Gotta snap 'em all!'">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://jtatomico.photodex.io/preview.jpg" />
  <meta property="og:url" content="http://jtatomico.photodex.io/" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="{{@exphbs.view}}-view">
  <div class="banner">
    <h1>Phot贸dex</h1>
    {{#if trainer}}<div class="trainer-name">{{trainer}}</div>{{/if}}
    <h2>{{subtitle}}</h2>
  </div>
  <div class="content">
    {{{body}}}
  </div>
</body>

</html>
