<div class="container">
  <h3>View a trainer's Photódex</h3>
  <form>
    <input name="username" type="text" placeholder="Flickr username" autofocus>
    <button type="submit">GO!</button>
  </form>
  <small>(e.g. "JTAtomico")</small>

  <h3>Examples</h3>
  {{>trainerCards list=examples}}

  <h3>Create your own Photódex</h3>
  <div>
    <p>Photódex is powered by Flickr's API. To create your own Photódex you must first create a Flickr album.</p>
    <p>To do so, follow these steps:</p>
    <ol>
      <li>
        Create an account on <a href="https://www.flickr.com/" target="_blank">Flickr</a>.
      </li>
      <li>
        Create an album with the word <strong>"Photódex" in the title</strong> (or just "Photodex" without the accent).
      </li>
      <li>Upload your AR snaps to the album, with the following conditions:
        <ul>
          <li>
            You must include the <strong>Pokémon number in 3-digit format</strong> in the photo title
            (e.g. "001 Bulbasaur", "025 Pikachu", "133 Eevee").
          </li>
          <li>
            The photos must be made <strong>public</strong>.
          </li>
        </ul>
      </li>
      <li>
        Visit your new Photódex page by typing your Flickr username into the box at the top of
        this page and clicking "GO!".
      </li>
    </ol>
    <p>
      Note that changes or additions to Flickr albums may take a few minutes to update in your Photódex.
    </p>
    <p>
      As an example, <a href="https://www.flickr.com/photos/142094589@N06/sets/72157697425407712" target="_blank">this Flickr album</a>
      is behind <a href="/JTAtomico" target="_blank">this Photódex</a>.
    </p>
    <h4>Advanced</h4>
    <p>
      By default, the photo thumbnail square is taken from the center of the image.
      To change this, you can add some positional data to your photo title.
    </p>
    <ul>
      <li>
        For portait photos:
        <ul>
          <li><strong>position=top</strong> aligns the thumbnail to the top of the photo.</li>
          <li><strong>position=bottom</strong> aligns the thumbnail to the bottom of the photo.</li>
          <li>Thumbnail defaults to center if no position is given.</li>
        </ul>
      </li>
      <li>
        For landscape photos:
        <ul>
          <li><strong>position=left</strong> aligns the thumbnail to the left of the photo.</li>
          <li><strong>position=right</strong> aligns the thumbnail to the right of the photo.</li>
          <li>Thumbnail defaults to center if no position is given.</li>
        </ul>
      </li>
    </ul>
    <p>For example, "025 Pikachu (position=left)" would work as a title if your Pikachu is standing on the left side of a landscape photo.</p>
    <p>Positional instructions must be lower case and must not have spaces around the equals sign.</p>
    <h4>Troubleshooting</h4>
    <p>
      If you are having issues getting your Photódex to appear after following the steps above, please ensure that:
    </p>
    <ul>
      <li>Your Flickr album contains the word "Photódex" or "Photodex" in the title.</li>
      <li>All photos are public.</li>
      <li>Photos have the 3-digit Pokémon number in their titles.</li>
      <li>You have waited a few minutes since making changes in Flickr.</li>
    </ul>
    <p>
      Note that you may experience unexpected behaviour if you have multiple Flickr albums with "Photódex"
      in the title or if you have multiple photos in the album with the same Pokémon number.
    </p>
    <p>
      If you are still having issues, or have other problems to report, then please
      email <a href="mailto:jtatomico@gmail.com">jtatomico@gmail.com</a> or
      raise an issue <a href="https://github.com/jamiehumphries/photodex/issues" target="_blank">on GitHub</a>.
    </p>
  </div>
</div>
