.dex-view {
  .entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flickr-link {
    display: flex;
    a {
      margin: auto;
      color: $text-light;
    }
  }

  .region-title {
    color: $text-white;
    margin: 20px 0;
    display: flex;
    align-items: center;
    font-weight: bold;

    .region-name {
      font-size: 16px;
      line-height: 20px;
      height: 20px;
      width: 80px;
      padding: 5px 10px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .region-line {
      flex: 1;
      height: 3px;
    }
  }

  @mixin generation($separtor-color, $entry-color) {
    .separator {
      background-color: $separtor-color;
    }
    .entry:not(.unobtainable) {
      background-color: $entry-color;
    }
    .entry.unobtainable {
      color: $entry-color;
    }
  }

  .generation.kanto {
    @include generation($separator-kanto, $entry-kanto);
  }

  .generation.johto {
    @include generation($separator-johto, $entry-johto);
  }

  .generation.hoenn {
    @include generation($separator-hoenn, $entry-hoenn);
  }

  @mixin entry($size) {
    margin: calc(#{$size} / 32);
    width: #{$size};
    height: #{$size};
    line-height: #{$size};
    font-size: calc(0.375 * #{$size});
  }

  .entry {
    color: $text-white;
    font-weight: 300;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10%;

    @include entry(192px);
    @media (max-width: 1200px) {
      @include entry(160px);
    }
    @media (max-width: 960px) {
      @include entry(128px);
    }
    @media (max-width: 720px) {
      @include entry(96px);
    }
    @media (max-width: 480px) {
      @include entry(64px);
    }

    a:focus {
      img {
        filter: brightness(50%);
      }
    }

    img {
      cursor: pointer;
      display: block;
      margin: auto;
      position: absolute;
      &.portrait {
        &:not(.bottom) {
          top: 0;
        }
        &:not(.top) {
          bottom: 0;
        }
        max-width: 100%;
      }
      &.landscape {
        // Additional CSS is rendered inline to allow centering.
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
        max-height: 100%;
      }
    }

    &.unobtainable {
      background-color: rgba(255, 255, 255, 0.15);
    }

    &.placeholder {
      height: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

#gallery {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  &:not(.active) {
    display: none;
  }

  img {
    user-select: none;
  }

  .gallery-image {
    max-height: 80%;
    max-width: 80%;
    box-shadow: 0px 0px 30px #C9C9FF;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: left 0.5s;
    &.previous {
      left: -200%;
    }
    &.next {
      left: 200%;
    }
  }

  #close-button {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    &:active {
      opacity: 0.8;
    }
  }
}
