#announcement {
  z-index: 2;
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  background-color: darkred;
  a {
    color: white;
  }
  button {
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
