$background: #DEDEFF;
$background-light: #EBEBFF;

$border: #C1C1FF;
$border-focus: darken($border, 10%);

$gallery-shadow: #C9C9FF;
$multiform-shadow: #C0B9D5;

$text-primary: #57446C;
$text-light: #B6A9DE;
$text-white: #F0F0FF;
$text-error: #DC143C;

// Region colors (separator, entry).
$purple-region: (#8F84F7, #C3BDFB);
$blue-region: (#9ABAF9, #B7CEFB);
$red-region: (#D4BEDA, #E4CEEA);
$regions: (
  kanto: $purple-region,
  johto: $blue-region,
  hoenn: $purple-region,
  sinnoh: $blue-region,
  unova: $purple-region,
  kalos: $purple-region,
  alola: $blue-region,
  galar: $red-region,
  hisui: $purple-region,
  unknown: $red-region
);
