$background: #DEDEFF;
$background-light: #EBEBFF;

$border: #C1C1FF;
$border-focus: darken($border, 10%);

$gallery-shadow: #C9C9FF;
$multiform-shadow: #C0B9D5;

$text-primary: #57446C;
$text-light: #B6A9DE;
$text-white: #F0F0FF;
$text-error: #DC143C;

$separator-kanto: #9084F8;
$separator-johto: #96BAF7;
$separator-hoenn: #7CA6F9;
$separator-sinnoh: #9084F8;

$entry-kanto: #C9C9FF;
$entry-johto: #BED3FE;
$entry-hoenn: #B6C6F9;
$entry-sinnoh: #C9C9FF;
