@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css?family=Lato:300')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css?family=Lato') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@import './colors';
@import './forms';

@import './views/dex';
@import './views/error';
@import './views/home';

body {
  background-color: $background;
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.no-scroll {
    position: fixed;
  }
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.banner {
  background-color: $background-light;
  border-bottom: 3px solid $border;
  text-align: center;
  position: fixed;
  height: 100px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin: 8px 0 0 0;
    font-size: 32px;
    a {
      &, &:visited, &:active, &:hover, &:focus {
        color: $text-primary;
        text-decoration: none;
      }
    }
  }
  .trainer-name {
    font-weight: 400;
    color: $text-primary;
    font-size: 16px;
  }
  h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
    color: $text-light;
  }
}

.content {
  margin: 120px 0 20px 0;
  flex: 1;
  .container {
    padding: 0 20px;
  }
}

.footer {
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
}
