@import url("https://fonts.googleapis.com/css?family=Lato:300");
@import './colors';

@import './views/dex';
@import './views/error';

body {
  background-color: $background-main;
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.no-scroll {
    position: fixed;
  }
}

.banner {
  background-color: $background-banner;
  border-bottom: 3px solid $border-banner;
  text-align: center;
  position: fixed;
  height: 100px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1, h2 {
    text-transform: uppercase;
  }
  h1 {
    margin: 8px 0 0 0;
    font-size: 32px;
    a {
      &, &:visited, &:active, &:hover, &:focus {
        color: $text-dark;
        text-decoration: none;
      }
    }
  }
  .trainer-name {
    font-weight: bold;
    color: $text-dark;
    font-size: 16px;
  }
  h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
    color: $text-light;
  }
}

.content {
  margin: 120px 0 20px 0;
  flex: 1;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
}
